body{
	font-family: Archivo, arial black;
}
div{
	margin: 0 auto;
	width: 1100px;
	text-align: center;
}
.grid-container{
	width: 1000px;
	display: grid;
	grid-gap: 15px;
}
#logo{
	grid-row: 1;
	grid-column: 1;
	position: relative;
	left: -400px;
}
ul>li{
	display: inline;
	color: #ffffff;
	padding-left: 10px;
}
ul{
	background-color: #222931;
	width: 950px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	position: relative;
	top: -400px;
	grid-row: 4;
	grid-column: 1/6
}
#header{
	width: 120%;
	position: relative;
	left: -170px;
	top: 40px;
	grid-row: 3;
	grid-column: 1/6
}

#ribbon{
	background-color: #ffe718;
}
#oplossingen{
	position: relative;
	left: -300px;
	top: 50px;
	font-size: 34px;
	font-weight: 700;
}
#werken{
	position: relative;
	top: -5px;
	font-size: 16px;
	font-weight: 700;
}
#weten{
	position: relative;
	left: 800px;
	top: -50px;
	font-size: 12px;
	font-weight: 500px;
	background-color: #ffffff;
	width: 140px;
	padding-bottom: 15px;
	padding-top: 15px;
}
#footer{
	width: 120%;
	position: relative;
	left: -170px;
	top: 40px;
	grid-row: 4;
	grid-column: 1/6;
}
.bannerblocks{
	background-color: #ffe718;
	grid-row: 5;
	display: grid;
	position: relative;
	width: 300px;
	height: 90px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.bannerblocks>h1{
	font-size: 22px;
	position: relative;
	bottom: 40px;
	right: 0px;
	font-weight: 600;
}
.bannerblocks>p{
	font-size: 14px;
	position: relative;
	bottom: 40px;
	font-weight: 600;
}
#leftbanner>p{
	right: -35px;
}
#middlebanner>p{
	right: -30px;
}
#rightbanner>p{
	right: -23px;
}
#bannerpngs{
	width: 50px;
	position: relative;
	left: -100px;
	top: 25px;
}
#leftbanner{
	bottom: 15px;
}
#middlebanner>h1,#rightbanner>h1,#middlebanner>p,#rightbanner>p{
	top: -55px;
}
#middlebanner>img,#rightbanner>img{
	top: 15px;
}
.ftext{
	grid-row: 9;
	grid-column: 1/2;
}
#leftbanner:hover,#middlebanner:hover,#rightbanner:hover{
	background-color: #DDD6CE;
	filter: invert(100%);
	transition: smooth;
}



/*#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;						//niet nodig @xeno :);
}

#wrapper:hover .text {
visibility:visible;
}*/






.testtext1,.testtext2,.testtext3{
	display: inline;
	margin-left: 130px;
	margin-right: 130px;
	position: relative;
	bottom: 120px;
	color: transparent;
}
.banner1,.banner2,.banner3{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
.banner1:hover{
	opacity: 0.1;
}
.banner1:hover .testtext1{
	color: black;
}
.banner2:hover .testtext2{
	color: black;
}
.banner3:hover p{
	color: pink;
}
#weten:hover{
	color:white;
	background-color: #222931;
}



.dropdown{
	color: white;
}
.dropdown:hover{
	color: #222931
}
#portfolio{
	margin-left:10px;
}
#angle-down{
	height: 20px;
	position: relative;
	top: -650px;
	left: 145px;
}
#portfolio{
	margin-left: 20px;
}